<?xml version="1.0"?>
<config>
    <modules>
        <Itonomy_ProductVisibilityGrid>
            <version>1.0.0</version>
        </Itonomy_ProductVisibilityGrid>
    </modules>
    <global>
        <blocks>
            <productvisibilitygrid>
                <class>Itonomy_ProductVisibilityGrid_Block</class>
            </productvisibilitygrid>
        </blocks>
        <models>
            <productvisibilitygrid>
                <class>Itonomy_ProductVisibilityGrid_Model</class>
            </productvisibilitygrid>
        </models>
        <helpers>
            <productvisibilitygrid>
                <class>Itonomy_ProductVisibilityGrid_Helper</class>
            </productvisibilitygrid>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Itonomy_ProductVisibilityGrid after="Mage_Adminhtml">Itonomy_ProductVisibilityGrid_Adminhtml
                        </Itonomy_ProductVisibilityGrid>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Itonomy_ProductVisibilityGrid>
                    <files>
                        <default>Itonomy_ProductVisibilityGrid.csv</default>
                    </files>
                </Itonomy_ProductVisibilityGrid>
            </modules>
        </translate>
    </adminhtml>
</config>
